In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **CARREGAMENTO DOS DADOS - Dados Abertos CNPJ ESTABELECIMENTO**

*   Os dados dos CNPJ´s são a base do nosso estudo. Neles encontraremos as principais informações da empresas alvo do trabalho. Iremos, por conta do alto volume de dados, executar o carregamento e junção dos dados dos CNPJ´s em 3 notebooks. Os dados de CNPJ estão divididos em dois grupos:

1.   Dados Abertos CNPJ EMPRESA
2.   Dados Abertos CNPJ ESTABELECIMENTO

-------------

*   Tabela de CNPJ´s do site da Receita Federal
*   https://www.gov.br/receitafederal/pt-br/assuntos/orientacao-tributaria/cadastros/consultas/dados-publicos-cnpj

In [3]:
cnpj_estabelecimento_01 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ ESTABELECIMENTO 01.csv', names=['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'matriz_filial', 'nome_fantasia', 'codigo_situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_cidade_exterior', 'codigo_pais', 'data_inicio_atividade', 'cnae_principal', 'cnae_secundario',
'tipo_logradouro','logradouro','numero','complemento','bairro','cep','uf','codigo_municipio_siafi','ddd1', 'telefone1','ddd2','telefone2','dddfax','fax','email', 'situacao_especial', 'data_situacao_especial'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_estabelecimento_02 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ ESTABELECIMENTO 02.csv', names=['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'matriz_filial', 'nome_fantasia', 'codigo_situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_cidade_exterior', 'codigo_pais', 'data_inicio_atividade', 'cnae_principal', 'cnae_secundario',
'tipo_logradouro','logradouro','numero','complemento','bairro','cep','uf','codigo_municipio_siafi','ddd1', 'telefone1','ddd2','telefone2','dddfax','fax','email', 'situacao_especial', 'data_situacao_especial'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_estabelecimento_03 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ ESTABELECIMENTO 03.csv', names=['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'matriz_filial', 'nome_fantasia', 'codigo_situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_cidade_exterior', 'codigo_pais', 'data_inicio_atividade', 'cnae_principal', 'cnae_secundario',
'tipo_logradouro','logradouro','numero','complemento','bairro','cep','uf','codigo_municipio_siafi','ddd1', 'telefone1','ddd2','telefone2','dddfax','fax','email', 'situacao_especial', 'data_situacao_especial'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_estabelecimento_04 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ ESTABELECIMENTO 04.csv', names=['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'matriz_filial', 'nome_fantasia', 'codigo_situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_cidade_exterior', 'codigo_pais', 'data_inicio_atividade', 'cnae_principal', 'cnae_secundario',
'tipo_logradouro','logradouro','numero','complemento','bairro','cep','uf','codigo_municipio_siafi','ddd1', 'telefone1','ddd2','telefone2','dddfax','fax','email', 'situacao_especial', 'data_situacao_especial'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_estabelecimento_05 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ ESTABELECIMENTO 05.csv', names=['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'matriz_filial', 'nome_fantasia', 'codigo_situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_cidade_exterior', 'codigo_pais', 'data_inicio_atividade', 'cnae_principal', 'cnae_secundario',
'tipo_logradouro','logradouro','numero','complemento','bairro','cep','uf','codigo_municipio_siafi','ddd1', 'telefone1','ddd2','telefone2','dddfax','fax','email', 'situacao_especial', 'data_situacao_especial'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)

In [4]:
cnpj_estabelecimento_todas_parte01 = pd.concat([cnpj_estabelecimento_01, cnpj_estabelecimento_02, cnpj_estabelecimento_03, cnpj_estabelecimento_04, cnpj_estabelecimento_05], axis=0)

In [5]:
cnpj_estabelecimento_todas_parte01.shape

(25087343, 30)

In [6]:
cnpj_estabelecimento_todas_parte01.head()

  cnpj_basico cnpj_ordem  ... situacao_especial data_situacao_especial
0    29880578       0001  ...               NaN                    NaN
1    29880593       0001  ...               NaN                    NaN
2    29880610       0001  ...               NaN                    NaN
3    29880623       0001  ...               NaN                    NaN
4    29880632       0001  ...               NaN                    NaN

[5 rows x 30 columns]

# **Tratamento das colunas do Dataset**

In [7]:
cnpj_estabelecimento_todas_parte01.isna().sum()

cnpj_basico                         0
cnpj_ordem                          0
cnpj_dv                             0
matriz_filial                       0
nome_fantasia                10277858
codigo_situacao_cadastral           0
data_situacao_cadastral             0
motivo_situacao_cadastral           0
nome_cidade_exterior         25073270
codigo_pais                  25023602
data_inicio_atividade               0
cnae_principal                      0
cnae_secundario              14310823
tipo_logradouro                460061
logradouro                       1016
numero                            832
complemento                  14635389
bairro                         191386
cep                             75834
uf                                  0
codigo_municipio_siafi              0
ddd1                          6263302
telefone1                     6263286
ddd2                         22988666
telefone2                    22992659
dddfax                       21532746
fax                          21530413
email                        11639875
situacao_especial            25087292
data_situacao_especial       25087292
dtype: int64

**As colunas a seguir serão eliminados pelas seguintes motivações:**

1.   Devido ao grande número de registros sem informações e a sua irrelevância para o para o projeto em estudo:
*   nome_fantasia
*   nome_cidade_exterior
*   codigo_pais
*   tipo_logradouro
*   logradouro
*   numero
*   complemento
*   bairro
*   cep
*   uf
*   ddd1
*   telefone1
*   ddd2
*   telefone2
*   dddfax
*   fax
*   email
*   situacao_especial



2.   A coluna "motivo_situacao_cadastral" traz o motivo pelo qual a Situação Cadastral do CNPJ foi alterada. No nosso estudo, como o TARGET é a Situação Cadastral "02" ou "08", indenpendentemente do seu motivo, a coluna será eliminada.



3.   A coluna "cnae_secundario" traz um detalhamento excessivo para o CNAE da empresa. No nosso estudo, para diminuirmos a amplitude das informações, iremos trabalhar com a classificação da Secão e e da Divisão, além do CANE principal. Por esse motivo, a coluna "cnae_secundario" será eliminada.

In [8]:
cnpj_estabelecimento_todas_parte01 = cnpj_estabelecimento_todas_parte01.drop(['motivo_situacao_cadastral','nome_fantasia','nome_cidade_exterior','codigo_pais','cnae_secundario','tipo_logradouro',	'logradouro',	'numero',	'complemento',	'bairro',	'cep',	'uf','ddd1',	'telefone1',	'ddd2',	'telefone2',	'dddfax',	'fax', 'email',	'situacao_especial',	'data_situacao_especial'], axis=1) #eliminação das colunas desnecessárias

# **CORTE NO DATASET DE ESTABELECIMENTOS**


Para um melhor estudo do impacto da COVID no fechamento das empresas, realizamos duas seleções no dataset de estabelecimentos (base do estudo) considerando a data da situação cadastral como delimitador do prazo e selecionando os CNPJ´s pelo Código da Situação Cadastral.

*   **PERÍODO: No total, estamos avaliando 28 meses de atividade, divididos da seguinte forma:**

1.   Período 20-21 - COM COVID (14 meses) - Início: 01/04/2020 - Término: 31/05/2021
2.   Período 19-20 - SEM COVID (14 meses) - Início: 01/02/2019 - Término: 31/03/2020

*   **SITUAÇÃO CADASTRAL: Iremos avaliar somente os CNPJ´s abaixo descritos:**

1.   CNPJ´s FECHADOS - situação cadastral igual a "8"
2.   CNPJ´s ABERTOS - situação cadastral igual a "2"

In [9]:
cnpj_estabelecimento_todas_parte01 = cnpj_estabelecimento_todas_parte01.query( 'codigo_situacao_cadastral=="02" or codigo_situacao_cadastral=="08" ')

In [10]:
cnpj_estabelecimento_todas_parte01 = cnpj_estabelecimento_todas_parte01.query('data_situacao_cadastral >= "20190201" and data_situacao_cadastral <= "20210531" ')

# **GRAVAÇÃO DO DATASET**

In [11]:
cnpj_estabelecimento_todas_parte01.shape

(6016988, 9)

In [12]:
cnpj_estabelecimento_todas_parte01.dtypes

cnpj_basico                  object
cnpj_ordem                   object
cnpj_dv                      object
matriz_filial                object
codigo_situacao_cadastral    object
data_situacao_cadastral      object
data_inicio_atividade        object
cnae_principal               object
codigo_municipio_siafi       object
dtype: object

In [13]:
cnpj_estabelecimento_todas_parte01.head()

   cnpj_basico cnpj_ordem  ... cnae_principal codigo_municipio_siafi
5     29880642       0001  ...        8712300                   7107
17    29880783       0001  ...        8630503                   4205
18    29880797       0001  ...        9511800                   5403
19    29880805       0001  ...        5620104                   6623
20    29880816       0001  ...        9602501                   3105

[5 rows x 9 columns]

In [14]:
cnpj_estabelecimento_todas_parte01.to_csv('/content/drive/MyDrive/TCC - PUC/cnpj_estabelecimento_todas_parte01.csv', index=False, sep=';')