In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **CARREGAMENTO DOS DADOS - Dados Abertos CNPJ EMPRESA**

*   Os dados dos CNPJ´s são a base do nosso estudo. Neles encontraremos as principais informações da empresas alvo do trabalho. Iremos, por conta do alto volume de dados, executar o carregamento e junção dos dados dos CNPJ´s em 3 notebooks. Os dados de CNPJ estão divididos em dois grupos:

1.   Dados Abertos CNPJ EMPRESA
2.   Dados Abertos CNPJ ESTABELECIMENTO

-------------

Tabela de CNPJ´s do site da Receita Federal

*   https://www.gov.br/receitafederal/pt-br/assuntos/orientacao-tributaria/cadastros/consultas/dados-publicos-cnpj

In [3]:
cnpj_empresa_01 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ EMPRESA 01.csv', names=['cnpj_basico', 'razao_social', 'natureza_juridica', 'qualificacao_responsavel', 'capital_social', 'porte_empresa', 'ente_federativo_responsavel'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_empresa_02 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ EMPRESA 02.csv', names=['cnpj_basico', 'razao_social', 'natureza_juridica', 'qualificacao_responsavel', 'capital_social', 'porte_empresa', 'ente_federativo_responsavel'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_empresa_03 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ EMPRESA 03.csv', names=['cnpj_basico', 'razao_social', 'natureza_juridica', 'qualificacao_responsavel', 'capital_social', 'porte_empresa', 'ente_federativo_responsavel'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_empresa_04 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ EMPRESA 04.csv', names=['cnpj_basico', 'razao_social', 'natureza_juridica', 'qualificacao_responsavel', 'capital_social', 'porte_empresa', 'ente_federativo_responsavel'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_empresa_05 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ EMPRESA 05.csv', names=['cnpj_basico', 'razao_social', 'natureza_juridica', 'qualificacao_responsavel', 'capital_social', 'porte_empresa', 'ente_federativo_responsavel'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_empresa_06 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ EMPRESA 06.csv', names=['cnpj_basico', 'razao_social', 'natureza_juridica', 'qualificacao_responsavel', 'capital_social', 'porte_empresa', 'ente_federativo_responsavel'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_empresa_07 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ EMPRESA 07.csv', names=['cnpj_basico', 'razao_social', 'natureza_juridica', 'qualificacao_responsavel', 'capital_social', 'porte_empresa', 'ente_federativo_responsavel'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_empresa_08 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ EMPRESA 08.csv', names=['cnpj_basico', 'razao_social', 'natureza_juridica', 'qualificacao_responsavel', 'capital_social', 'porte_empresa', 'ente_federativo_responsavel'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_empresa_09 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ EMPRESA 09.csv', names=['cnpj_basico', 'razao_social', 'natureza_juridica', 'qualificacao_responsavel', 'capital_social', 'porte_empresa', 'ente_federativo_responsavel'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_empresa_10 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ EMPRESA 10.csv', names=['cnpj_basico', 'razao_social', 'natureza_juridica', 'qualificacao_responsavel', 'capital_social', 'porte_empresa', 'ente_federativo_responsavel'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)

In [4]:
cnpj_empresa_todas = pd.concat([cnpj_empresa_01, cnpj_empresa_02, cnpj_empresa_03, cnpj_empresa_04, cnpj_empresa_05, cnpj_empresa_06, cnpj_empresa_07, cnpj_empresa_08, cnpj_empresa_09, cnpj_empresa_10], axis=0)

In [5]:
cnpj_empresa_todas.shape

(46232299, 7)

In [6]:
cnpj_empresa_todas.dtypes

cnpj_basico                    object
razao_social                   object
natureza_juridica              object
qualificacao_responsavel       object
capital_social                 object
porte_empresa                  object
ente_federativo_responsavel    object
dtype: object

In [7]:
cnpj_empresa_todas.head()

  cnpj_basico  ... ente_federativo_responsavel
0    41273604  ...                         NaN
1    41273605  ...                         NaN
2    41273606  ...                         NaN
3    41273607  ...                         NaN
4    41273608  ...                         NaN

[5 rows x 7 columns]

# **Tratamento das colunas do Dataset**

In [8]:
cnpj_empresa_todas.isna().sum()

cnpj_basico                           0
razao_social                          0
natureza_juridica                     0
qualificacao_responsavel              0
capital_social                        0
porte_empresa                     59882
ente_federativo_responsavel    46172676
dtype: int64

## **As colunas a seguir serão eliminados pelas seguintes motivações:**

*   Razão Social: Traz o nome do estabelecimento. Por tratar-se de uma informação praticamente única para cada CNPJ, a informação é irrelevante para o estudo.

*   Natureza Jurídica e Qualificação do Responsável: Traz informações sobre a característica da empresa. Como essas informações são complementares ao código CNAE, optamos pela eliminação.

*   Ente Federativo Responsável: Informação redundante da informação do código SIAFI que será concatenado a seguir da tabela de Estabelecimentos.

*   Porte da Empresa: conforme códigos do cadastro, a esmagadora maioria refere-se aos códigos 1 e 5, sem relevância para o estudo. Os números podem ser observados na pesquisa abaixo:

*   01 – NÃO INFORMADO
*   02 - MICRO EMPRESA
*   03 - EMPRESA DE PEQUENO PORTE
*   05 - DEMAIS

In [9]:
porte_empresa = cnpj_empresa_todas.groupby('porte_empresa')['porte_empresa'].count()

In [10]:
porte_empresa

porte_empresa
01    31649224
03     1168801
05    13354392
Name: porte_empresa, dtype: int64

## **Eliminação das colunas**

In [11]:
cnpj_empresa_todas = cnpj_empresa_todas.drop(['razao_social','natureza_juridica','qualificacao_responsavel','porte_empresa','ente_federativo_responsavel'], axis=1)

# **CARREGAMENTO DOS DADOS - Dados Abertos CNPJ ESTABELECIMENTO**

In [12]:
cnpj_estabelecimento_todas_parte01 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/cnpj_estabelecimento_todas_parte01.csv',encoding='ISO-8859-1', sep=';' ,dtype=str, header=0)
cnpj_estabelecimento_todas_parte02 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/cnpj_estabelecimento_todas_parte02.csv',encoding='ISO-8859-1', sep=';' ,dtype=str, header=0)

In [13]:
cnpj_estabelecimento_todas = pd.concat([cnpj_estabelecimento_todas_parte01, cnpj_estabelecimento_todas_parte02], axis=0)

In [14]:
cnpj_estabelecimento_todas.shape

(11157257, 9)

In [15]:
cnpj_estabelecimento_todas.dtypes

cnpj_basico                  object
cnpj_ordem                   object
cnpj_dv                      object
matriz_filial                object
codigo_situacao_cadastral    object
data_situacao_cadastral      object
data_inicio_atividade        object
cnae_principal               object
codigo_municipio_siafi       object
dtype: object

In [16]:
cnpj_estabelecimento_todas.head()

  cnpj_basico cnpj_ordem  ... cnae_principal codigo_municipio_siafi
0    29880642       0001  ...        8712300                   7107
1    29880783       0001  ...        8630503                   4205
2    29880797       0001  ...        9511800                   5403
3    29880805       0001  ...        5620104                   6623
4    29880816       0001  ...        9602501                   3105

[5 rows x 9 columns]

# **MERGE e GRAVAÇÃO DO DATASET**

In [17]:
cnpj_final = pd.merge(cnpj_estabelecimento_todas, cnpj_empresa_todas, how='left', on='cnpj_basico')

In [18]:
cnpj_final.shape

(11157257, 10)

In [19]:
cnpj_final.dtypes

cnpj_basico                  object
cnpj_ordem                   object
cnpj_dv                      object
matriz_filial                object
codigo_situacao_cadastral    object
data_situacao_cadastral      object
data_inicio_atividade        object
cnae_principal               object
codigo_municipio_siafi       object
capital_social               object
dtype: object

In [20]:
cnpj_final.head()

  cnpj_basico cnpj_ordem  ... codigo_municipio_siafi capital_social
0    29880642       0001  ...                   7107        2000,00
1    29880783       0001  ...                   4205       95400,00
2    29880797       0001  ...                   5403        3500,00
3    29880805       0001  ...                   6623       10000,00
4    29880816       0001  ...                   3105        1000,00

[5 rows x 10 columns]

In [21]:
cnpj_final.to_csv('/content/drive/MyDrive/TCC - PUC/cnpj_final.csv', index=False, sep=';')