In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cnpj_estabelecimento_06 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ ESTABELECIMENTO 06.csv', names=['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'matriz_filial', 'nome_fantasia', 'codigo_situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_cidade_exterior', 'codigo_pais', 'data_inicio_atividade', 'cnae_principal', 'cnae_secundario',
'tipo_logradouro','logradouro','numero','complemento','bairro','cep','uf','codigo_municipio_siafi','ddd1', 'telefone1','ddd2','telefone2','dddfax','fax','email', 'situacao_especial', 'data_situacao_especial'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_estabelecimento_07 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ ESTABELECIMENTO 07.csv', names=['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'matriz_filial', 'nome_fantasia', 'codigo_situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_cidade_exterior', 'codigo_pais', 'data_inicio_atividade', 'cnae_principal', 'cnae_secundario',
'tipo_logradouro','logradouro','numero','complemento','bairro','cep','uf','codigo_municipio_siafi','ddd1', 'telefone1','ddd2','telefone2','dddfax','fax','email', 'situacao_especial', 'data_situacao_especial'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_estabelecimento_08 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ ESTABELECIMENTO 08.csv', names=['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'matriz_filial', 'nome_fantasia', 'codigo_situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_cidade_exterior', 'codigo_pais', 'data_inicio_atividade', 'cnae_principal', 'cnae_secundario',
'tipo_logradouro','logradouro','numero','complemento','bairro','cep','uf','codigo_municipio_siafi','ddd1', 'telefone1','ddd2','telefone2','dddfax','fax','email', 'situacao_especial', 'data_situacao_especial'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_estabelecimento_09 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ ESTABELECIMENTO 09.csv', names=['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'matriz_filial', 'nome_fantasia', 'codigo_situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_cidade_exterior', 'codigo_pais', 'data_inicio_atividade', 'cnae_principal', 'cnae_secundario',
'tipo_logradouro','logradouro','numero','complemento','bairro','cep','uf','codigo_municipio_siafi','ddd1', 'telefone1','ddd2','telefone2','dddfax','fax','email', 'situacao_especial', 'data_situacao_especial'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)
cnpj_estabelecimento_10 = pd.read_csv('/content/drive/MyDrive/TCC - PUC/Dados Abertos CNPJ ESTABELECIMENTO 10.csv', names=['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'matriz_filial', 'nome_fantasia', 'codigo_situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_cidade_exterior', 'codigo_pais', 'data_inicio_atividade', 'cnae_principal', 'cnae_secundario',
'tipo_logradouro','logradouro','numero','complemento','bairro','cep','uf','codigo_municipio_siafi','ddd1', 'telefone1','ddd2','telefone2','dddfax','fax','email', 'situacao_especial', 'data_situacao_especial'],encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None,)

In [ ]:
cnpj_estabelecimento_06 = cnpj_estabelecimento_06.drop(['nome_fantasia','nome_cidade_exterior','codigo_pais','cnae_secundario','tipo_logradouro',	'logradouro',	'numero',	'complemento',	'bairro',	'cep',	'uf','ddd1',	'telefone1',	'ddd2',	'telefone2',	'dddfax',	'fax', 'email',	'situacao_especial',	'data_situacao_especial'], axis=1) #eliminação das colunas desnecessárias
cnpj_estabelecimento_07 = cnpj_estabelecimento_07.drop(['nome_fantasia','nome_cidade_exterior','codigo_pais','cnae_secundario','tipo_logradouro',	'logradouro',	'numero',	'complemento',	'bairro',	'cep',	'uf','ddd1',	'telefone1',	'ddd2',	'telefone2',	'dddfax',	'fax', 'email',	'situacao_especial',	'data_situacao_especial'], axis=1) #eliminação das colunas desnecessárias
cnpj_estabelecimento_08 = cnpj_estabelecimento_08.drop(['nome_fantasia','nome_cidade_exterior','codigo_pais','cnae_secundario','tipo_logradouro',	'logradouro',	'numero',	'complemento',	'bairro',	'cep',	'uf','ddd1',	'telefone1',	'ddd2',	'telefone2',	'dddfax',	'fax', 'email',	'situacao_especial',	'data_situacao_especial'], axis=1) #eliminação das colunas desnecessárias
cnpj_estabelecimento_09 = cnpj_estabelecimento_09.drop(['nome_fantasia','nome_cidade_exterior','codigo_pais','cnae_secundario','tipo_logradouro',	'logradouro',	'numero',	'complemento',	'bairro',	'cep',	'uf','ddd1',	'telefone1',	'ddd2',	'telefone2',	'dddfax',	'fax', 'email',	'situacao_especial',	'data_situacao_especial'], axis=1) #eliminação das colunas desnecessárias
cnpj_estabelecimento_10 = cnpj_estabelecimento_10.drop(['nome_fantasia','nome_cidade_exterior','codigo_pais','cnae_secundario','tipo_logradouro',	'logradouro',	'numero',	'complemento',	'bairro',	'cep',	'uf','ddd1',	'telefone1',	'ddd2',	'telefone2',	'dddfax',	'fax', 'email',	'situacao_especial',	'data_situacao_especial'], axis=1) #eliminação das colunas desnecessárias

In [ ]:
cnpj_estabelecimento_todas_parte02 = pd.concat([cnpj_estabelecimento_06, cnpj_estabelecimento_07, cnpj_estabelecimento_08, cnpj_estabelecimento_09, cnpj_estabelecimento_10], axis=0)

In [ ]:
cnpj_estabelecimento_todas_parte02

        cnpj_basico cnpj_ordem  ... cnae_principal codigo_municipio_siafi
0          37249908       0001  ...        5611203                   6001
1          37249917       0001  ...        4930201                   8901
2          37249931       0001  ...        1359600                   6001
3          37249942       0001  ...        5229099                   4733
4          37249954       0001  ...        4781400                   0427
...             ...        ...  ...            ...                    ...
4753429    29880509       0001  ...        5612100                   2531
4753430    29880524       0001  ...        1412601                   4661
4753431    29880535       0001  ...        5611203                   8963
4753433    29880559       0001  ...        9602501                   5847
4753434    29255741       0001  ...        8011101                   6001

[20055212 rows x 10 columns]

In [ ]:
cnpj_estabelecimento_todas_parte02 = cnpj_estabelecimento_todas_parte02.query( 'codigo_situacao_cadastral=="02" or codigo_situacao_cadastral=="08" ')

In [ ]:
cnpj_estabelecimento_todas_parte02.to_csv('/content/drive/MyDrive/TCC - PUC/cnpj_estabelecimento_todas_parte02.csv', index=False, sep=';')