In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cnpj_final = pd.read_csv('/content/drive/MyDrive/TCC - PUC/cnpj_final.csv',encoding='ISO-8859-1', sep=';' ,dtype=str, header=0)

In [ ]:
municipios_siafi = pd.read_csv('//content/drive/MyDrive/TCC - PUC/TABELA DE MUNICÍPIOS DO SIAFI.csv',encoding='ISO-8859-1', sep=';' ,dtype=str, header=0,decimal=',')

In [ ]:
municipios_siafi.columns = ['codigo_municipio_siafi', 'cnpj_base', 'descricao_municipio', 'uf','codigo_ibge']

In [ ]:
municipios_siafi

     codigo_municipio_siafi    cnpj_base  ...  uf codigo_ibge
0                         1  5,89363E+12  ...  RO     1100106
1                         2   8,4745E+13  ...  RO     1100379
2                         3  5,90313E+12  ...  RO     1100205
3                         8  8,47369E+13  ...  RO     1100940
4                        13  4,09271E+12  ...  RO     1100304
...                     ...          ...  ...  ..         ...
5584                   1190  1,73498E+13  ...  PA     1504752
5585                   1192  1,72431E+13  ...  SC     4220000
5586                   1194  1,67808E+13  ...  SC     4212650
5587                   1196  1,73616E+13  ...  MS     5006275
5588                   3001  4,08179E+13  ...  PE     2605459

[5589 rows x 5 columns]

In [ ]:
codigo_ibge_ajustado = municipios_siafi['codigo_ibge'].map(lambda x: str(x)[:-1])

In [ ]:
municipios_siafi = pd.concat([municipios_siafi, codigo_ibge_ajustado], axis=1)

In [ ]:
municipios_siafi['codigo_municipio_siafi'] = municipios_siafi['codigo_municipio_siafi'].astype(int)
cnpj_final['codigo_municipio_siafi'] = cnpj_final['codigo_municipio_siafi'].astype(int)

In [ ]:
municipios_siafi.columns = ['codigo_municipio_siafi', 'cnpj_base', 'descricao_municipio', 'uf','codigo_ibge', 'codigo_ibge_ajustado']

In [ ]:
municipios_siafi = municipios_siafi.drop(['cnpj_base','uf'], axis=1) #eliminação das colunas desnecessárias

In [ ]:
cnpj_final = pd.merge(cnpj_final, municipios_siafi, how='left', on='codigo_municipio_siafi')

In [ ]:
cnpj_final

         cnpj_basico cnpj_ordem  ... codigo_ibge codigo_ibge_ajustado
0           29880642       0001  ...     3550308               355030
1           29880783       0001  ...     3110301               311030
2           29880797       0001  ...     3170206               317020
3           29880805       0001  ...     3526100               352610
4           29880816       0001  ...     2800308               280030
...              ...        ...  ...         ...                  ...
11157252    29880238       0001  ...     4202404               420240
11157253    29880354       0001  ...     1200500               120050
11157254    29880380       0001  ...     3550308               355030
11157255    26520602       0001  ...     3550308               355030
11157256    29880509       0001  ...     2611606               261160

[11157257 rows x 14 columns]

In [ ]:
covid_brasil_1 = pd.read_csv('//content/drive/MyDrive/TCC - PUC/HIST_PAINEL_COVIDBR_2020_Parte1_31mai2021.csv',encoding='ISO-8859-1', sep=';' ,dtype=str, header=0)
covid_brasil_2 = pd.read_csv('//content/drive/MyDrive/TCC - PUC/HIST_PAINEL_COVIDBR_2020_Parte2_31mai2021.csv',encoding='ISO-8859-1', sep=';' ,dtype=str, header=0)
covid_brasil_3 = pd.read_csv('//content/drive/MyDrive/TCC - PUC/HIST_PAINEL_COVIDBR_Parte3_31mai2021.csv',encoding='ISO-8859-1', sep=';' ,dtype=str, header=0)

In [ ]:
covid_brasil_todas = pd.concat([covid_brasil_1, covid_brasil_2, covid_brasil_3], axis=0)

In [ ]:
covid_brasil_todas

              regiao estado  ... emAcompanhamentoNovos interior/metropolitana
0             Brasil    NaN  ...                   NaN                    NaN
1             Brasil    NaN  ...                   NaN                    NaN
2             Brasil    NaN  ...                   NaN                    NaN
3             Brasil    NaN  ...                   NaN                    NaN
4             Brasil    NaN  ...                   NaN                    NaN
...              ...    ...  ...                   ...                    ...
848465  Centro-Oeste     DF  ...                   NaN                      1
848466  Centro-Oeste     DF  ...                   NaN                      1
848467  Centro-Oeste     DF  ...                   NaN                      1
848468  Centro-Oeste     DF  ...                   NaN                      1
848469  Centro-Oeste     DF  ...                   NaN                      1

[2422659 rows x 17 columns]

In [ ]:
covid_brasil_todas = covid_brasil_todas[covid_brasil_todas['codmun'] .notnull()] 
covid_brasil_todas = covid_brasil_todas[covid_brasil_todas['municipio'] .notnull()]

In [ ]:
covid_brasil_todas = covid_brasil_todas.drop(['municipio','coduf','codRegiaoSaude','nomeRegiaoSaude','semanaEpi','Recuperadosnovos','emAcompanhamentoNovos','emAcompanhamentoNovos', 'interior/metropolitana'], axis=1) #eliminação das colunas desnecessárias

In [ ]:
covid_brasil_todas.columns = ['regiao', 'estado', 'codigo_ibge_ajustado', 'data_covid','populacaoTCU2019', 'casosAcumulado','casosNovos','obitosAcumulado','obitosNovos']

In [ ]:
data_removido = covid_brasil_todas['data_covid'].str.replace(r'\D', '')

In [ ]:
codigo_ibge_data = data_removido + covid_brasil_todas['codigo_ibge_ajustado']

In [ ]:
covid_brasil_todas['populacaoTCU2019'] = covid_brasil_todas['populacaoTCU2019'].astype(int)
covid_brasil_todas['casosAcumulado'] = covid_brasil_todas['casosAcumulado'].astype(int)
covid_brasil_todas['obitosAcumulado'] = covid_brasil_todas['obitosAcumulado'].astype(int)

In [ ]:
casos_acumulados_porcentagem = round(((covid_brasil_todas['casosAcumulado'] * 100) / (covid_brasil_todas['populacaoTCU2019'])),3)
obitos_acumulados_porcentagem = round(((covid_brasil_todas['obitosAcumulado'] * 100) / (covid_brasil_todas['populacaoTCU2019'])),3)

In [ ]:
covid_brasil_todas = pd.concat([covid_brasil_todas, casos_acumulados_porcentagem, obitos_acumulados_porcentagem, codigo_ibge_data], axis=1)

In [ ]:
covid_brasil_todas.columns = ['regiao', 'estado', 'codigo_ibge_ajustado','data_covid', 'populacaoTCU2019','casosAcumulado', 'casosNovos','obitosAcumulado','obitosNovos', 'casos_acumulados_porcentagem','obitos_acumulados_porcentagem','codigo_ibge_data']

In [ ]:
codigo_ibge_data_regiao = pd.DataFrame ("20210531" + cnpj_final['codigo_ibge_ajustado'])

In [ ]:
codigo_ibge_data_regiao.columns = ['codigo_ibge_data']

In [ ]:
codigo_ibge_data_regiao  = pd.merge(codigo_ibge_data_regiao, covid_brasil_todas, how='left', on='codigo_ibge_data')

In [ ]:
codigo_ibge_data_regiao = codigo_ibge_data_regiao.drop(['codigo_ibge_data','codigo_ibge_ajustado','data_covid','casosAcumulado','casosNovos','obitosAcumulado','obitosNovos','casos_acumulados_porcentagem','obitos_acumulados_porcentagem'], axis=1) #eliminação das colunas desnecessárias

In [ ]:
cnpj_final = pd.concat([cnpj_final, codigo_ibge_data_regiao], axis=1)

In [ ]:
codigo_ibge_data_covid = pd.DataFrame (np.where((cnpj_final['codigo_situacao_cadastral']=='08'), cnpj_final['data_situacao_cadastral'] + cnpj_final['codigo_ibge_ajustado'] , "20210531" + cnpj_final['codigo_ibge_ajustado']))

In [ ]:
cnpj_final = pd.concat([cnpj_final, codigo_ibge_data_covid], axis=1)

In [ ]:
cnpj_final.columns = ['cnpj_basico','cnpj_ordem','cnpj_dv','matriz_filial','codigo_situacao_cadastral','data_situacao_cadastral','motivo_situacao_cadastral','data_inicio_atividade','cnae_principal','codigo_municipio_siafi','capital_social','descricao_municipio','codigo_ibge','codigo_ibge_ajustado','regiao','estado','populacaoTCU2019','codigo_ibge_data']

In [ ]:
codigo_ibge_data_covid.columns = ['codigo_ibge_data']

In [ ]:
codigo_ibge_data_covid  = pd.merge(codigo_ibge_data_covid, covid_brasil_todas, how='left', on='codigo_ibge_data')

In [ ]:
codigo_ibge_data_covid = codigo_ibge_data_covid.drop(['codigo_ibge_data','regiao','estado','codigo_ibge_ajustado','data_covid','populacaoTCU2019','casosNovos','obitosNovos'], axis=1) #eliminação das colunas desnecessárias

In [ ]:
codigo_ibge_data_covid.columns = ['casosAcumulado_covid','obitosAcumulado_covid','casos_acumulados_porcentagem_covid','obitos_acumulados_porcentagem_covid']

In [ ]:
cnpj_final = pd.concat([cnpj_final, codigo_ibge_data_covid], axis=1)

In [ ]:
idh_municipios = pd.read_csv('//content/drive/MyDrive//TCC - PUC/IDH por Município - FINAL COM CÓDIGO IBGE.csv',encoding='ISO-8859-1', sep=';' ,dtype=str, header=0,decimal=',')

In [ ]:
idh_municipios

         Territorialidade CODIGO IBGE  ... Posicao IDHM Renda IDHM Renda
0         ABADIA DE GOIAS     5200050  ...                 65       0,83
1     ABADIA DOS DOURADOS     3100104  ...                 56      0,839
2               ABADIANIA     5200100  ...                 54      0,841
3                  ABAETE     3100203  ...                 47      0,848
4              ABAETETUBA     1500107  ...                 97      0,798
...                   ...         ...  ...                ...        ...
5560          XIQUE-XIQUE     2933604  ...                154      0,741
5561               ZABELE     2517407  ...                170      0,725
5562             ZACARIAS     3557154  ...                 69      0,826
5563              ZE DOCA     2114007  ...                150      0,745
5564               ZORTEA     4219853  ...                 10      0,885

[5565 rows x 10 columns]

In [ ]:
idh_municipios = idh_municipios.drop(['Territorialidade','Posicao IDHM','Posicao IDHM Educacao','Posicao IDHM Longevidade','Posicao IDHM Renda'], axis=1) #eliminação das colunas desnecessárias

In [ ]:
idh_municipios.columns = ['codigo_ibge', 'IDH DO MUNICIPIO', 'IDHM EDUCACAO DO MUNICIPIO', 'IDHM LONGEVIDADE DO MUNICIPIO','IDHM RENDA DO MUNICIPIO']

In [ ]:
cnpj_final = pd.merge(cnpj_final, idh_municipios, how='left', on='codigo_ibge')

In [ ]:
pib_municipios = pd.read_csv('//content/drive/MyDrive/TCC - PUC/PIB dos Municípios - base de dados 2010-2018 - AJUSTADO.csv',encoding='ISO-8859-1', sep=';' ,dtype=str, header=0,decimal=',')

In [ ]:
pib_municipios

     Sigla da Unidade da Federação Código do Município  ... PIB PER CAPITA   Ano
0                               AC             1200013  ...      15.737,64  2018
1                               AC             1200054  ...      12.532,31  2018
2                               AC             1200104  ...      16.165,25  2018
3                               AC             1200138  ...      15.606,47  2018
4                               AC             1200179  ...      14.874,52  2018
...                            ...                 ...  ...            ...   ...
5565                            TO             1721208  ...      12.913,56  2018
5566                            TO             1721257  ...      26.430,98  2018
5567                            TO             1721307  ...      11.391,39  2018
5568                            TO             1722081  ...      12.089,51  2018
5569                            TO             1722107  ...      25.166,89  2018

[5570 rows x 6 columns]

In [ ]:
pib_municipios = pib_municipios.drop(['Sigla da Unidade da Federação','Nome do Município','Ano'], axis=1) #eliminação das colunas desnecessárias

In [ ]:
pib_municipios.columns = ['codigo_ibge', 'PIB', 'PIB PER CAPITA']

In [ ]:
cnpj_final = pd.merge(cnpj_final, pib_municipios, how='left', on='codigo_ibge')

In [ ]:
cnae = pd.read_csv('//content/drive/MyDrive/TCC - PUC/CLASSIFICACAO CNAE POR SECAO.csv',encoding='ISO-8859-1', sep=';' ,dtype=str, header=0)

In [ ]:
cnae.columns = ['cnae_divisao', 'cnae_secao','cnae_descricao']

In [ ]:
cnae

   cnae_divisao cnae_secao                                     cnae_descricao
0             1          a  AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...
1             2          a  AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...
2             3          a  AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PES...
3             5          b                              INDÚSTRIAS EXTRATIVAS
4             6          b                              INDÚSTRIAS EXTRATIVAS
..          ...        ...                                                ...
82           94          s                      OUTRAS ATIVIDADES DE SERVIÇOS
83           95          s                      OUTRAS ATIVIDADES DE SERVIÇOS
84           96          s                      OUTRAS ATIVIDADES DE SERVIÇOS
85           97          t                                SERVIÇOS DOMÉSTICOS
86           99          u  ORGANISMOS INTERNACIONAIS E OUTRAS INSTITUIÇÕE...

[87 rows x 3 columns]

In [ ]:
cnae_divisao = cnpj_final['cnae_principal'].map(lambda x: str(x)[:-5])

In [ ]:
cnae_divisao = cnae_divisao.astype(int)

In [ ]:
cnae['cnae_divisao'] = cnae['cnae_divisao'].astype(int)

In [ ]:
secao_condicao = [
    (cnae['cnae_secao'] == 'a'),
    (cnae['cnae_secao'] == 'b'),
    (cnae['cnae_secao'] == 'c'),
    (cnae['cnae_secao'] == 'd'),
    (cnae['cnae_secao'] == 'e'),
    (cnae['cnae_secao'] == 'f'),
    (cnae['cnae_secao'] == 'g'),
    (cnae['cnae_secao'] == 'h'),
    (cnae['cnae_secao'] == 'i'),
    (cnae['cnae_secao'] == 'j'),
    (cnae['cnae_secao'] == 'k'),
    (cnae['cnae_secao'] == 'l'),
    (cnae['cnae_secao'] == 'm'),
    (cnae['cnae_secao'] == 'n'),
    (cnae['cnae_secao'] == 'o'),
    (cnae['cnae_secao'] == 'p'),
    (cnae['cnae_secao'] == 'q'),
    (cnae['cnae_secao'] == 'r'),
    (cnae['cnae_secao'] == 's'),
    (cnae['cnae_secao'] == 't'),
    (cnae['cnae_secao'] == 'u')]
cnae_secao = ['1', '2', '3','4', '5', '6','7', '8', '9','10', '11', '12','13', '14', '15','16', '17', '18','19', '20', '21']
cnae['cnae_secao_numero'] = np.select(secao_condicao, cnae_secao)

In [ ]:
cnpj_final = pd.concat([cnpj_final, cnae_divisao], axis=1)

In [ ]:
cnpj_final.columns = ['cnpj_basico','cnpj_ordem','cnpj_dv','matriz_filial','codigo_situacao_cadastral','data_situacao_cadastral','motivo_situacao_cadastral','data_inicio_atividade','cnae_principal','codigo_municipio_siafi','capital_social','descricao_municipio','codigo_ibge','codigo_ibge_ajustado','regiao','estado','populacaoTCU2019','codigo_ibge_data','casosAcumulado_covid','obitosAcumulado_covid','casos_acumulados_porcentagem_covid','obitos_acumulados_porcentagem_covid','IDH DO MUNICIPIO','IDHM EDUCACAO DO MUNICIPIO','IDHM LONGEVIDADE DO MUNICIPIO','IDHM RENDA DO MUNICIPIO','PIB','PIB PER CAPITA','cnae_divisao']

In [ ]:
cnpj_final = pd.merge(cnpj_final, cnae, how='left', on='cnae_divisao')

In [ ]:
cnpj_final['PIB'] = cnpj_final['PIB'].str.replace('.', '')
cnpj_final['PIB PER CAPITA'] = cnpj_final['PIB PER CAPITA'].str.replace('.', '')

In [ ]:
cnpj_final['capital_social'] = cnpj_final['capital_social'].str.replace(',', '.')
cnpj_final['IDH DO MUNICIPIO'] = cnpj_final['IDH DO MUNICIPIO'].str.replace(',', '.')
cnpj_final['IDHM EDUCACAO DO MUNICIPIO'] = cnpj_final['IDHM EDUCACAO DO MUNICIPIO'].str.replace(',', '.')
cnpj_final['IDHM LONGEVIDADE DO MUNICIPIO'] = cnpj_final['IDHM LONGEVIDADE DO MUNICIPIO'].str.replace(',', '.')
cnpj_final['IDHM RENDA DO MUNICIPIO'] = cnpj_final['IDHM RENDA DO MUNICIPIO'].str.replace(',', '.')
cnpj_final['PIB'] = cnpj_final['PIB'].str.replace(',', '.')
cnpj_final['PIB PER CAPITA'] = cnpj_final['PIB PER CAPITA'].str.replace(',', '.')

In [ ]:
cnpj_final = cnpj_final.drop(['codigo_ibge_ajustado','codigo_ibge_data'], axis=1) #eliminação das colunas desnecessárias

In [ ]:
data = {
'codigo_situacao_cadastral': ['02', '08'],
'situacao_cadastral_modelo': ['0', '1']
}

In [ ]:
situacao_cadastral = pd.DataFrame(data, columns=['codigo_situacao_cadastral','situacao_cadastral_modelo'])

In [ ]:
cnpj_final = pd.merge(cnpj_final, situacao_cadastral, how='left', on='codigo_situacao_cadastral')

In [ ]:
cnpj_final.to_csv('/content/drive/MyDrive/TCC - PUC/dataset_final.csv', index=False, sep=';', encoding='ISO-8859-1')

In [ ]:
cnpj_final

         cnpj_basico cnpj_ordem  ... cnae_secao_numero situacao_cadastral_modelo
0           29880642       0001  ...                17                         1
1           29880783       0001  ...                17                         1
2           29880797       0001  ...                19                         1
3           29880805       0001  ...                 9                         1
4           29880816       0001  ...                19                         1
...              ...        ...  ...               ...                       ...
11157252    29880238       0001  ...                 7                         1
11157253    29880354       0001  ...                 7                         0
11157254    29880380       0001  ...                13                         1
11157255    26520602       0001  ...                 7                         1
11157256    29880509       0001  ...                 9                         1

[11157257 rows x 31 columns]

In [ ]:
#tt = cnpj_final [0:50000]

In [ ]:
#tt.to_csv('/content/drive/MyDrive/TCC - PUC/dataset_final_exemplo.csv', index=False, sep=';', encoding='ISO-8859-1')